<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<table>
	<tr>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Email</th>
	</tr>


<tr>		
<td><%= @user.firstname %></td>
<td><%= @user.lastname %></td>
<td><%= @user.email %></td>
</tr>
<td><%= link_to "Edit and update", user_edit_path(@user)%></td>
<td><%= link_to "User details", users_list_path(@user)%></td>


</table>
